absl-py==0.8.0
appdirs==1.4.3
astor==0.8.0
attrs==19.1.0
black==19.3b0
boto3==1.9.217
botocore==1.12.217
certifi==2019.6.16
chardet==3.0.4
Click==7.0
dataclasses==0.6
docutils==0.15.2
entrypoints==0.3
fastapi==0.36.0
flake8==3.7.8
gast==0.2.2
google-pasta==0.1.7
grpcio==1.23.0
h11==0.8.1
h5py==2.9.0
httptools==0.0.13
idna==2.8
jmespath==0.9.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mccabe==0.6.1
numpy==1.17.1
protobuf==3.9.1
pycodestyle==2.5.0
pydantic==0.30
pyflakes==2.1.1
python-dateutil==2.8.0
pytorch-ignite==0.2.0
pytorch-pretrained-bert==0.6.2
regex==2019.8.19
requests==2.22.0
s3transfer==0.2.1
six==1.12.0
starlette==0.12.7
tensorboard==1.14.0
tensorboardX==1.8
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
toml==0.10.0
torch==1.2.0
tqdm==4.35.0
urllib3==1.25.3
uvicorn==0.8.6
uvloop==0.12.2
websockets==7.0
Werkzeug==0.15.5
wrapt==1.11.2
