EXTERNAL_FOLDER=~/.deeppavlov/agent/
COBOT_API_KEY=MYF6T5vloa7UIfT1LwftY3I33JmzlTaA86lwlVGm
TELEGRAM_TOKEN=889695074:AAHYEi0AWfZo-1_KrXUJ4LU3LSskWrXchHk
TELEGRAM_PROXY=socks5://ipavlov:ipavlov_telegram@159.65.126.171:1337
COBOT_QUERY_SERVICE_URL=https://ssy3pe4ema.execute-api.us-east-1.amazonaws.com/prod/knowledge/v1/query
COBOT_ENTITY_SERVICE_URL=https://746y2ig586.execute-api.us-east-1.amazonaws.com/prod//knowledge/v1/entityResolution
COBOT_QA_SERVICE_URL=https://06421kpunk.execute-api.us-east-1.amazonaws.com/prod/qa/v1/answer
COBOT_TOPICS_SERVICE_URL=https://gpri4649wf.execute-api.us-east-1.amazonaws.com/prod/topic/v1/batchTopics
COBOT_OFFENSIVE_SERVICE_URL=https://bnd8xjhonk.execute-api.us-east-1.amazonaws.com/prod/offensiveness/v1/batchOffensivenessClasses
COBOT_DIALOGACT_SERVICE_URL=https://srglfu2huc.execute-api.us-east-1.amazonaws.com/prod/dialogact/v1/batchDialogActIntents
COBOT_CONVERSATION_EVALUATION_SERVICE_URL=https://pssen6zq8k.execute-api.us-east-1.amazonaws.com/prod//conversationevaluation/v1/batchConversationEvaluation
SENTRY_DSN=https://7a6d57df6fb44ae4bfc3d43a8b4f16f3@sentry.io/1553895
DP_AGENT_URL=http://Docker-ExternalLoa-LOFSURITNPLE-525614984.us-east-1.elb.amazonaws.com
DP_AGENT_PORT=4242
DOCKER_REGISTRY=807746935730.dkr.ecr.us-east-1.amazonaws.com
DB_NAME=dream-prod-v8-220120
DB_HOST=mongodb://172.31.43.45:27017/?authSource=admin
DB_PORT=27017
TFIDF_BAD_FILTER=1
USE_TFIDF_COBOT=
USE_ASSESSMENT=1
S3_DIALOGS_BUCKET=alexa-prod-dialogs-dumps
S3_ACCESS_KEY=AKIA3YELYDOZI52PRFEZ
S3_SECRET_ACCESS_KEY=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
KEEP_ALIVE=True
KEEP_ALIVE_TIMEOUT=35
REQUEST_TIMEOUT=2
RESPONSE_TIMEOUT=2
CUSTOM_DIALOG_FILE=data/test_data.json
DB_CONFIG=db_conf.json
PIPELINE_CONFIG=alexa_pipeline_conf.json
TIME_LIMIT=4
A_VERSION=v8.5.0
A_AGENT_URL=http://Docker-ExternalLoa-LOFSURITNPLE-525614984.us-east-1.elb.amazonaws.com
A_AGENT_PORT=4242
B_VERSION=v8.1.15
B_AGENT_URL=http://Docker-ExternalLoa-LOFSURITNPLE-525614984.us-east-1.elb.amazonaws.com
B_AGENT_PORT=4243
