# base
sentry_sdk[flask]==0.14.3
flask==1.1.1
gunicorn==19.9.0
healthcheck==1.3.3
# dialogflow framework
programy==4.3
git+git://github.com/kudep/emora_stdm.git@3ae4fece5c9c7e8608a5dbc1051410a7ba7237f6
# test
requests==2.22.0