# base
sentry_sdk[flask]==0.14.3
flask==1.1.1
gunicorn==19.9.0
healthcheck==1.3.3
# dialogflow framework
programy==4.3
git+https://github.com/deepmipt/dialog_flow_framework.git@6f8501f0c476456557e21dce01329aaa1b10eefc
# test
requests==2.22.0
