pyopenssl==22.0.0
flask==1.1.1
itsdangerous==2.0.1
gunicorn==19.9.0
requests==2.27.1
numpy==1.17.2
sentry-sdk==0.14.2
spacy==2.2.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#egg=en_core_web_sm==2.2.5
jinja2<=3.0.3
Werkzeug<=2.0.3
importlib-metadata<5.0