Flask==1.1.1
itsdangerous==2.0.1
sentry-sdk==0.14.2
requests==2.23.0
gunicorn==19.9.0
numpy==1.17.2
spacy==3.0.6
jinja2<=3.0.3
Werkzeug<=2.0.3
git+https://github.com/deeppavlov/bert.git@feat/multi_gpu
tensorflow==1.15.5
