deeppavlov==1.2.0
Flask==1.1.1
nltk==3.2.5
gunicorn==19.9.0
requests==2.22.0
sentry-sdk[flask]==0.14.1
rapidfuzz==0.7.6
torch==1.7.1
pytorch-lightning==1.2.2
torchtext==0.8.0
transformers==4.10.1
itsdangerous==2.0.1
jinja2<=3.0.3
Werkzeug<=2.0.3
pyOpenSSL==22.0.0
faiss-cpu==1.7.0
