{% extends "base.html" %}
{% block title %}Dialogs list{% endblock %}
{% block head %}
{{ super() }}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
{% endblock %}
{% block content %}
  <div id="container" style="min-width: 310px; min-height: 600px; margin: 0 auto"></div>



    <script type="text/javascript">
        var servicesCurrentMap = new Map();

        var socket = new WebSocket('ws://' + window.location.host + '/debug/current_load/ws');
        var temp_val;
        var now = new Date().getTime()
        var totalPoints = 3000;
        var updateInterval = 100;
        var timerId;

        socket.onmessage = function(event) {
            data = JSON.parse(event.data);
            for (var [key, value] of Object.entries(data)) {
                servicesCurrentMap.set(key, value);
            }
        };

        socket.onclose = function(event) {
          clearInterval(timerId);
          alert('service is unavailable');
        };

        // Create the chart
        var chart = Highcharts.chart('container', {
             legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top'
            },
            chart: {
              animation: {
                  duration: 10
              }
            },
            plotOptions: {
              line: {
                marker: {
                  enabled: false
                },
                animation: false,
              },
              series: {
                animation: false,
                label: {
                  enabled: false
                }
              }
            },

            time: {
                useUTC: false
            },
            xAxis: {
                type: 'datetime',
                tickInterval: 60000,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                title: {
                    text: 'Time'
                }
            },
            yAxis: {
              min: 0,
              allowDecimals: false,
              tickInterval: 1,
              title: {
                  text: 'Requests in processing'
              },
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }]
            },
            title: {
                text: 'Services Load'
            },
        });

        function update() {
          var point;
          for (var [key, value] of servicesCurrentMap) {
            var currentSeries = chart.series.find(a => a.name === key);

            point = [now, value]
            if (currentSeries) { 
              currentSeries.addPoint(point, false, currentSeries.data.length > totalPoints);
            } else {
              chart.addSeries( {name: key, data: [point] }, false);
            }
          }
          now += updateInterval;
          chart.redraw();
        }
        $(document).ready(function () {
          timerId = setInterval(update, updateInterval);

        });

    </script>
{% endblock %}
