cryptography==38.0.4
pyopenssl==23.0.0
sentry-sdk[flask]==0.14.1
flask==1.1.1
itsdangerous==2.0.1
gunicorn==19.9.0
requests==2.27.1
jinja2<=3.0.3
Werkzeug<=2.0.3
click==7.1.2
torch==1.6.0
transformers==4.6.0
git+https://github.com/deeppavlov/bert.git@feat/multi_gpu
pybind11==2.2.4
