# base
six
sentry_sdk[flask]==0.14.3
flask==1.1.1
gunicorn==19.9.0
healthcheck==1.3.3
git+https://github.com/deepmipt/dialog_flow_framework.git@0accf7675f1db54b9e2698b54e30ad90bffee760
# test
requests==2.22.0