# base
six
sentry_sdk[flask]==0.14.3
flask==1.1.1
gunicorn==19.9.0
healthcheck==1.3.3
git+https://github.com/deepmipt/dialog_flow_framework.git@dd1571269d2ea55ce0be3b94e75c48e627bae9af
# test
requests==2.22.0